<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ifly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>
    <div>
        Welcome to the user page
        <div class="row">
            {{#each flights}}
            <div class="col-md-4 mb-3">
                <div class="card h-100 flight-card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.airline}}</h5>
                        <p class="card-text">
                            <strong>Αναχώρηση:</strong> {{this.arrival}}<br>
                            <strong>Προορισμός:</strong> {{this.destination}}<br>
                            <strong>Ημερομηνία:</strong> {{this.date}}<br>
                            <strong>Τιμή:</strong> {{this.price}}
                        </p>
                        <button class="btn btn-primary">Επιλογή</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</body>